<html class="js flexbox cssmask objectfit object-fit pc fonts-loaded" prefix="og: https://ogp.me/ns#" lang="es">
   <head>
      <link rel="stylesheet" href="../../css/con.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <meta charset="utf-8">
      <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/512185944451973123/c51488cf2cf2d877eb722dbe789ff9ff.png">
      <link rel="apple-touch-icon" href="">
      <link rel="icon" href="https://cdn.discordapp.com/avatars/512185944451973123/c51488cf2cf2d877eb722dbe789ff9ff.png">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Sad Bot</title>
      <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
      <meta name="msapplication-tap-highlight" content="no">
      <link href="https://d1di2lzuh97fh2.cloudfront.net/files/3w/3w9/3w9s1p.css?ph=c4f08e6bb2" rel="stylesheet">
      <link rel="stylesheet" href="https://d1di2lzuh97fh2.cloudfront.net/files/42/42e/42e5o5.css?ph=c4f08e6bb2" data-wnd_additive_color_file="">
      <link rel="stylesheet" href="https://d1di2lzuh97fh2.cloudfront.net/files/3n/3ns/3nsqtt.css?ph=c4f08e6bb2" data-wnd_typography_file="">
         <meta property="og:site_name" content="Sadbot1">
         <meta property="og:image" content="https://cdn.discordapp.com/avatars/445334027512315915/70b75ed7befdfa509637588d2df5c715.png">
         <meta property="og:article:published_time" content="2020-05-19T00:00:00+0200">
         <meta name="robots" content="index,follow">
         <link rel="canonical">
      <link rel="stylesheet" href="https://use.typekit.net/lab8xti.css">

   </head>
   <body class="l l-02 layout-02 c-s-m wt-page ac-h ac-i b-btn-sq b-btn-s-l b-btn-dn b-btn-bw-1 img-d-n img-t-o img-h-z line-solid b-e-c b-e-sbs lbox-d wnd-fe desktop safari">
      <div class="wnd-page cs-gray ac-none">
         <div id="wrapper" class="l-w cf t-34">
            <main id="main" class="l-m cf" role="main">
            <div class="section-wrapper cf">
               <div class="section-wrapper-content cf">
                  <div class="section header header-01 claim-section cf design-07 sc-m">
                     <div class="colcol section-bg">
                        <div class="section-bg-layer section-bg-overlay overlay-black-light"></div>
                     </div>
                     <div class=" section-inner section-claim header-height-sp-03">
                        <div class="claim-content cf">
                           <div class="header-claim cf">
                              <h1>
                                 <div class="big-claim auto-font-size cf"><span class="styled-inline-text claim-borders brandon-grotesque"><span><span>Contribuidores</span></span></span></div>
                                 <div class="small-claim cf"><span class="styled-inline-text claim-default wnd-font-size-20 proxima-nova"><span><span></span></span></span></div>
                              </h1>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="navbar"><a href="/">Inicio</a><a href="https://polm174.gitbook.io/sad-bot/" rel="nofollow" target="_blank">Documentación</a><a href="/contribuidores" class="active">Contribuidores</a><a href="/login">Iniciar Sesion</a></div>
                  <section class="s section default-01 design-01 sc-w">
                     <div class="section-bg s-bg">
                        <div class="section-bg-layer"></div>
                        <div class="section-bg-layer section-bg-overlay"></div>
                     </div>
                     <div class="section-inner">
                        <div class="content ez cf wnd-no-cols">
                           <div class="ez-c">
                              <div class="b b-text cf"></div>
                           </div>
                        </div>
                     </div>
                  </section>
                  <section class="s section default-01 design-01 sc-w">
                     <div class="section-bg s-bg">
                        <div class="section-bg-layer"></div>
                        <div class="section-bg-layer section-bg-overlay"></div>
                     </div>
                     <div class="section-inner">
                        <div class="content ez cf">
                           <div class="ez-c">
                              <div class="b b-text cf">
                                 <div class="b-c b-text-c b-s b-s-t60 b-s-b60 cf">
                                    <h1>Desarrollador</h1>
                                 </div>
                              </div>
                              <div class="b-img b-img-default b b-s cf wnd-orientation-square wnd-type-image img-s-n" style="margin-left:41.25%;margin-right:41.25%" id="wnd_ImageBlock_618951">
                                 <div class="b-img-w">
                                    <div class="b-img-t"></div>
                                 </div>
                              </div>
                              <div class="b b-text cf">
                                 <div class="wnd-align-center"><img src="https://cdn.discordapp.com/avatars/445334027512315915/70b75ed7befdfa509637588d2df5c715.png" class="circle" height="128px" width="128px" alt=""></div>
                                 <p class="wnd-align-center">PolM174#9253 <br></p>
                              </div>
                           </div>
                           <div class="b b-text cf">
                              <div class="b-c b-text-c b-s b-s-t60 b-s-b60 cf">
                                 <h1>Soporte / ACC</h1>
                              </div>
                           </div>
                           <div class="column-wrapper cw cf">
                              <div class="cw-c">
                                 <div class="column-content c pr pr-0 pr-320 pr-365 pr-400 pr-480" style="width:50%">
                                    <div class="c-c">
                                       <div class="b-img b-img-default b b-s cf wnd-orientation-square wnd-type-image img-s-n" style="margin-left:0;margin-right:0" id="wnd_ImageBlock_59296">
                                          <div class="b-img-w"></div>
                                          <div class="b-img-t"></div>
                                       </div>
                                    </div>
                                    <div class="b b-text cf">
                                       <div class="b-c b-text-c b-s b-s-t60 b-s-b60 cf">
                                          <div class="wnd-align-center"><img src="https://cdn.discordapp.com/avatars/375280280866390017/936d0ed58657177644e431ce172118e4.png" class="circle" height="128px" width="128px" alt=""></div>
                                          <p class="wnd-align-center">Riicx#3687</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="column-content c pr pr-0 pr-320 pr-365 pr-400 pr-480" style="width:50%">
                                 <div class="c-c">
                                    <div class="b-img b-img-default b b-s cf wnd-orientation-square wnd-type-image img-s-n" style="margin-left:0;margin-right:0" id="wnd_ImageBlock_20577">
                                       <div class="b-img-w"></div>
                                       <div class="b-img-t"></div>
                                    </div>
                                 </div>
                                 <div class="b b-text cf">
                                    <div class="b-c b-text-c b-s b-s-t60 b-s-b60 cf">
                                       <div class="wnd-align-center"><img src="https://cdn.discordapp.com/avatars/552566247829667852/b18e03ce3bcaed4e8d95b139259c6737.png" class="circle" aheight="128px" width="128px" alt=""></div>
                                       <p class="wnd-align-center">ϟ ༝ X-Lιηє. $#9560 <br></p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
               </div>
            </div>
         </div>
         </section>
      </div>
      </div></footer></div></div>
   </body>
</html>