   <header>
      <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>  <a href="https://polm174.gitbook.io/sad-bot/" rel="nofollow" target="_blank">Documentación</a> </li>
        <li>  <a href="/contribuidores" >Contribuidores</a> </li>
        <%if(login === 'si'){%>
        <li><a href="/logout">Salir</a></li>
        <%}%>
      </ul>
    </div>
  </nav>
    </header> 