<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Sad Bot</title>
      <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
      <meta name="msapplication-tap-highlight" content="no">
      <link href="https://d1di2lzuh97fh2.cloudfront.net/files/0a/0as/0as80x.css?ph=c4f08e6bb2" rel="stylesheet">
      <meta name="description" content="Sad Bot es un bot creado con node.js y Javascript, esta programado en español y cuenta con comandos de diversion,moderacion, animales, utilidad, economía , diversión y muchos más!">
      <meta name="keywords" content="">
      <meta name="generator">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="format-detection" content="telephone=no">
      <meta property="og:url" content="https://sad-bot1.glitch.me/">
      <meta property="og:title" content="Sad Bot">
      <meta property="og:type" content="article">
      <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/512185944451973123/c51488cf2cf2d877eb722dbe789ff9ff.png">
      <meta property="og:description" content="Sad Bot es un bot creado con node.js y Javascript, esta programado en español y cuenta con comandos de diversion,moderacion, animales, utilidad, economía , diversión y muchos más!">
      <meta property="og:site_name" content="Sadbot1">
      <meta property="og:image" content="https://i.imgur.com/fwn6519.png">
      <meta property="og:article:published_time" content="2019-09-23T00:00:00+0200">
      <link rel="canonical" href="https://sad-bot1.glitch.me/">
      <link rel="stylesheet" href="https://use.typekit.net/lab8xti.css">
   </head>
  
   <body class="l l-02 layout-02 wt-home ac-h">
      <div class="wnd-page cs-gray ac-none">
         <link rel="stylesheet" href="../../css/con.css">
         <script src="https://kit.fontawesome.com/c1eae85dfa.js" crossorigin="anonymous"></script> 
         <div id="wrapper" class="l-w cf t-34">
            <link id="favicon" rel="icon" href="https://cdn.discordapp.com/attachments/508030929571282964/621004160418054164/Sad_Bot.png" type="image/x-icon">
            <header id="header" class="l-h cf">
               <div id="layout-section" class="section header header-01 claim-section cf design-06 sc-m wnd-background-image s">
                  <div class="section-fixed wnd-fixed">
                     <div class="section-inner">
                        <div class="nav-line initial-state cf">
                           <div class="logo logo-default brandon-grotesque wnd-logo-with-text wnd-iar-1-1" id="wnd_LogoBlock_416948" data-wnd_mvc_type="wnd.fe.LogoBlock">
                              <div class="logo-content"> </div>
                           </div>
                           <nav id="menu" role="navigation">
                              <div class="menu-font"><a href="#" class="close-menu" rel="nofollow"><span>Close Menu</span></a><span class="more-text">Más</span></div>
                           </nav>
                           <script type="application/javascript">var el=document.getElementById("menu");"undefined"!=typeof el&&(el.style.display="none")</script>
                           <div id="menu-mobile" class="hidden"><a href="#" id="menu-submit"><span></span>Menú</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </header>
            <main id="main" class="l-m cf" role="main">
               <div class="section-wrapper cf">
                  <div class="section-wrapper-content cf">
                     <div class="s section header header-01 claim-section cf design-06 sc-m wnd-background-image">
                        <div class="section-bg">
                           <div class="section-bg-layer wnd-background-image fx-none bgpos-center-center bgatt-scroll" style="background-image:url('https://i.imgur.com/fwn6519.png')"></div>
                           <div class="section-bg-layer section-bg-overlay overlay-black-light"></div>
                        </div>
                        <div class="section-inner section-claim header-height-hp-01">
                           <div class="claim-content cf">
                              <div class="header-claim cf">
                                 <h1>
                                    <div class="big-claim auto-font-size cf"><span class="styled-inline-text claim-borders brandon-grotesque"><span><span><font class="wnd-font-size-170">Sad Bot</font></span></span></span></div>
                                    <div class="small-claim cf"><span class="styled-inline-text claim-default proxima-nova"> </span></div>
                                 </h1>
                                 <a href="https://discord.gg/pt2mAmZ" class="button blanco radio" rel="nofollow" target="_blank"> <i class="fa fa-sign-in-alt"></i><span class "fa fa-sign-in-alt"></span>Unete a nuestro servidor</a> <a href="https://discord.com/oauth2/authorize?client_id=731860604872294400&scope=bot&permissions=8" class="button azul radio" rel="nofollow" target="_blank"> <i class="fa fab fa-500px"></i> <span class "icon-house"></span>Invitame a tu servidor </a> 
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="navbar"> <a href="/" class="active">Inicio</a> <a href="https://polm174.gitbook.io/sad-bot/" rel="nofollow" target="_blank">Documentación</a> <a href="/contribuidores" >Contribuidores</a> <a href="/login" class="right">Iniciar Sesion</a></div>
                     <section class="s section default-01 design-01 sc-w">
                        <div class="section-inner">
                           <div class="content cf">
                              <div>
                                 <div class="container">
                                    <h1>Estadisticas</h1>
                                    <br><br> 
                                    <section class="contadores_principal">
                                       <div class="contador ocultar">
                                          <i class="fa fas fa-server fa-5x"></i> 
                                          <div class="contador_cantidad" data-cantidad-total=<%=servidores%>>0</div>
                                          <h2>Servidores</h2>
                                       </div>
                                       <div class="contador ocultar">
                                          <i class="fa fa-users fa-5x"></i> 
                                          <div class="contador_cantidad" data-cantidad-total=<%=usuarios%>>0</div>
                                          <h2>Usuarios</h2>
                                       </div>
                                    </section>
                                    <script src="../../js/scriptcon.js"></script> 
                                 </div>
                                 <div class="b b-text text cf design-01">
                                    <div class="text-content">
                                       <h1>Información y creador</h1>
                                    </div>
                                 </div>
                                 <div class="b b-text text cf design-01">
                                    <div class="text-content">
                                       <p><font>Sad Bot es un bot creado con node.js y Javascript, esta programado en español y cuenta con comandos de moderacion, animales, utilidad, economía , diversión, musica, y muchos más!</font></p>
                                       <p>El bot fue creado por PolM174, si quieres contactar con el, puedes hacerlo por el discord oficial de SadBot&nbsp;</p>
                                    </div>
                                 </div>
                                 <div class="column-wrapper cf">
                                    <div>
                                       <div class="column-content pr" style="width:50%;">
                                          <div>
                                             <div class="b image-block image-default block design-01 wnd-orientation-square wnd-type-image" style="margin-left:0;margin-right:0;" id="wnd_ImageBlock_61415">
                                                <div class="image-content cf" style="padding-bottom:100%;text-align:center;">
                                                   <img src="https://i.imgur.com/fwn6519.png" alt="" style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
                                                   <div class="embed-content"></div>
                                                   <div class="image-title"><span></span></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="column-content pr" style="width:50%;">
                                          <div>
                                             <div class="b image-block image-default block design-01 wnd-orientation-square wnd-type-image" style="margin-left:0;margin-right:0;" id="wnd_ImageBlock_19574">
                                                <div class="image-content cf" style="padding-bottom:100%;text-align:center;">
                                                   <img src="https://i.imgur.com/77d5tHK.png" alt="" style="top:0%;left:0%;width:100%;height:100%;position:absolute;">
                                                   <div class="embed-content"></div>
                                                   <div class="image-title"><span></span></div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </section>
                     <section class="s section default-01 design-01 sc-ml wnd-background-image">
                        <div class="section-bg s-bg">
                           <div class="section-bg-layer wnd-background-image fx-none bgpos-top-center bgatt-scroll" style="background-image:url('https://d1di2lzuh97fh2.cloudfront.net/files/3y/3yk/450/3yk26k.png?ph=c4f08e6bb2')"></div>
                           <div class="section-bg-layer section-bg-overlay overlay-white-strong"></div>
                        </div>
                     </section>
                     <section class="s section default-01 design-01 sc-m wnd-background-pattern">
                        <div class="section-bg s-bg">
                           <div class="section-bg-layer wnd-background-pattern bgpos-center-center bgatt-scroll" style="background-image:url('https://d1di2lzuh97fh2.cloudfront.net/files/0g/0gy/0gy8qo.png?ph=c4f08e6bb2')"></div>
                        </div>
                     </section>
                  </div>
               </div>
            </main>
            <footer id="footer" class="l-f cf">
               <div class="section-wrapper cf">
                  <div class="section-wrapper-content cf">
                     <div wn-border="top" wn-border-element="footer-line" class="s section footer-01 footer-font design-01 sc-w">
                        <div class="section-bg s-bg">
                           <div class="section-bg-layer"></div>
                           <div class="section-bg-layer section-bg-overlay"></div>
                        </div>
                        <div class="section-inner">
                           <div class="footer-line">
                              <div class="footer-texts">
                                 <div class="copyright cf"><span class="inline-text"><span>Bot creado por PolM174</span></span></div>
                                 <div class="system-footer cf">
                                    <div class="sf"></div>
                                 </div>
                              </div>
                              <div class="lang-select cf"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
         </div>
      </div>
   </body>
</html>